<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <header class="header">
        <div class="header-content">
            <h1>Harshitha Reddy Salguti</h1>
            <h2>N01537582</h2>
            <!-- Navigation Bar -->
            <nav>
                <ul class="nav-links">
                    <li><a href="/api/sales">All Data</a></li>
                    <li><a href="/api/sales/searchProductLine">SearchByProductLine</a></li>
                    <li><a href="/api/sales/new">Adding New data</a></li>
                   
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-content">
        {{{body}}}
    </main>

</body>
</html>
